# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac Finder
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# all logs
*.log

# env files
.env

# Binnary
bin/*
!bin/README.md

# Root FIle
*
!.gitignore
!.example.env
!example.config.yaml

!compose.asynq.yml
!compose.core.yml

!deploy.asynq.sh
!deploy.core.sh

!Dockerfile.asynq
!Dockerfile.core

!go.mod
!go.sum

!LICENSE
!Makefile
!README.md
!sqlc.yaml