# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# editor configuration
.vscode
.idea

# Mac Finder
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# all logs
*.log

# env files
.env
.env.*

# env stack files
stack.env
stack.core.env

# Binnary
bin/*
!bin/README.md

# Need Ignore File Configuration
config.yaml
config.core.yaml

# Backup Config Dir
storage/backup/config/*
!storage/backup/config/.gitkeep

# Ignore all exported commit JSON files
git-export-commits-*.json